"*":
  "autocomplete-plus":
    confirmCompletion: "tab"
  core:
    disabledPackages: [
      "language-gfm"
      "markdown-preview"
    ]
    telemetryConsent: "limited"
  editor: {}
  "exception-reporting":
    userId: "453a26d4-1645-4891-93c8-0f2608c16037"
  latex:
    texPath: "/usr/local/texlive/2018/bin/x86_64-linux/"
  "linter-spell":
    defaultLanguages: [
      "en-GB"
      "fi"
    ]
    spellPath: "/usr/bin/aspell"
  "linter-spell-latex":
    checkComments: false
  "linter-ui-default":
    panelHeight: 240
  "markdown-pdf": {}
  "markdown-preview-plus":
    mathConfig:
      enableLatexRenderingByDefault: true
    saveConfig:
      defaultSaveFormat: "pdf"
      mediaOnCopyAsHTMLBehaviour: "relativized"
    syncConfig:
      syncEditorOnPreviewScroll: true
  "spell-check":
    addKnownWords: true
  welcome:
    showOnStartup: false
".md.text":
  editor:
    showIndentGuide: true
"autocomplete-paths":
  scopes: [
    {
      extensions: [
        ".tex"
        ".bib"
        ".tikz"
      ]
      prefixes: [
        "\\\\input{"
        "\\\\include(?:only)?{([^\\}]*?\\,\\s*)*"
        "\\\\(?:addbibresource|add(?:global|section)bib)(?:\\[.*?\\])?{"
        "^%\\s*!T[eE]X\\s+(root|bib)\\s*=\\s*"
      ]
      relative: true
      scopes: [
        "text.tex.latex"
        "text.tex.latex.tikz"
      ]
    }
    {
      extensions: [
        ".jpeg"
        ".jpg"
        ".png"
      ]
      prefixes: [
        "\\\\includegraphics(\\[.*?\\])?{"
      ]
      relative: true
      scopes: [
        "text.tex.latex"
        "text.tex.latex.tikz"
      ]
    }
    {
      extensions: [
        ".*"
      ]
      prefixes: [
        "\\\\inputminted\\{.*\\}\\{"
      ]
      relative: true
      scopes: [
        "text.tex.latex"
        "text.tex.latex.tikz"
      ]
    }
  ]
